@import "../../styles/colours.scss";
@import "../../styles/measurements.scss";

.priceContainer {
    display: flex;
    flex-direction: column;
    margin: $smallMargin 0;
    line-height: 1.4em;
}

.specialOffer {
    color: $darkred;
    font-weight: $mediumWeight;
}

.price {
    font-size: $doubleFontSize;
    margin: $tinyMargin 0;
}

.services {
    color: $darkgreen;
}