.productDatasheet
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1px;
}

.pageSection {
    border-right: 1px solid #dedede;
    margin: 1em 0;
    padding: 0 3em;

}

@media screen and (max-width: 768px) {
    .productDatasheet {
        grid-template-columns:1fr;
    }
  }