@import "../../styles/measurements.scss";

.layout {
    margin-top: $smallMargin;

    h1 {
        font-size: $largeFont;
        font-weight: $lightWeight;
        text-transform: capitalize;
    }
}