@import "../../styles/colours.scss";
@import "../../styles/measurements.scss";

.productList {
    display: grid;
    gap: 0;
    background-color: $background;
    color: black;
    padding: 1px ;
    font-weight: $mediumWeight;
    letter-spacing: normal;
    line-height: 20px;
    list-style: none;
    font-family: GillSansforJL, Gill Sans, Gill Sans MT, Arial, Helvetica, sans-serif;
  }
  
  @media screen and (min-width: $smallScreenBreakpoint) {
    .productList {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  .link {
    background: $linkBackground;
    border-top: 1px solid $lightBorder;
    border-left: 1px solid $lightBorder;
    color: inherit;
    display: block;
    height: 100%;
    text-decoration: none;

    &:hover {
        box-shadow: 0px 0 10px 1px $lightBorder inset;
        text-decoration: underline;
    }
  }