@import "../../styles/colours.scss";
@import "../../styles/measurements.scss";

.specList{
    list-style: none;
    margin: 0;
    padding: 0;
}

.specListItem {
    border-top: 1px solid $lightBorder;
    display: flex;
    font-weight: $lightWeight;
    justify-content: space-between;
    text-transform: capitalize;
    padding: $smallPadding 0;

    &:hover {
        background-color: $lightBorder;
    }
}